http_interactions:
- request:
    method: get
    uri: http://www.sherpa.ac.uk/romeo/api29.php?issn=1947-6264
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml
    body:
      encoding: ISO-8859-1
      string: |
        <?xml version="1.0" encoding="ISO-8859-1" ?>
        <!DOCTYPE romeoapi SYSTEM "http://www.sherpa.ac.uk/romeo/romeoapi293.dtd">
        <romeoapi version="2.9.9">
          <header>
            <parameters>
              <parameter source="specified">
                <parametername>issn</parametername>
                <parametervalue>1947-6264</parametervalue>
              </parameter>
              <parameter source="default">
                <parametername>showfunder</parametername>
                <parametervalue>none</parametervalue>
              </parameter>
              <parameter source="default">
                <parametername>fIDnum</parametername>
                <parametervalue>|</parametervalue>
              </parameter>
              <parameter source="default">
                <parametername>la</parametername>
                <parametervalue>en</parametervalue>
              </parameter>
            </parameters>
            <numhits>1</numhits>
            <apicontrol>journal</apicontrol>
            <outcome>singleJournal</outcome>
            <message />
            <licence>SHERPA/RoMEO data is available for re-use under a Creative Commons Attribution-Non-Commercial-Share Alike 2.5 licence. For more details, please see the 'conditions for re-use' at the &lt;licenceurl /&gt;, and linked-to from the SHERPA/RoMEO home page.</licence>
            <licenceurl>http://www.sherpa.ac.uk/romeoreuse.html</licenceurl>
            <disclaimer>All SHERPA/RoMEO information is correct to the best of our knowledge but should not be relied upon for legal advice. SHERPA cannot be held responsible for the re-use of RoMEO data, or for alternative interpretations which are derived from this information.</disclaimer>
            <timestamp>14-Feb-2019:08:41:02</timestamp>
          </header>
          <journals>
            <journal>
              <jtitle>A Critical Introduction to Media and Communication Theory</jtitle>
              <issn>1947-6264</issn>
              <zetocpub>Peter Lang International Academic Publishers</zetocpub>
              <romeopub>Peter Lang International Academic Publishers</romeopub>
            </journal>
          </journals>
          <publishers>
            <publisher id="1084">
              <name>Peter Lang International Academic Publishers</name>
              <alias />
              <homeurl>http://www.peterlang.com/</homeurl>
              <preprints>
                <prearchiving>can</prearchiving>
                <prerestrictions />
              </preprints>
              <postprints>
                <postarchiving>restricted</postarchiving>
                <postrestrictions>
                  <postrestriction>&lt;num&gt;12&lt;/num&gt; &lt;period units=&quot;month&quot;&gt;months&lt;/period&gt; embargo</postrestriction>
                </postrestrictions>
              </postprints>
              <pdfversion>
                <pdfarchiving>restricted</pdfarchiving>
                <pdfrestrictions>
                  <pdfrestriction>&lt;num&gt;12&lt;/num&gt; &lt;period units=&quot;month&quot;&gt;months&lt;/period&gt; embargo</pdfrestriction>
                </pdfrestrictions>
              </pdfversion>
              <conditions>
                <condition>Author's pre-print on author's personal website, non-commercial institutional repository, non-commercial subject repository, non-commercial open access repository, pre-print server, arXiv, PubMed Central, Research Gate, Academia.edu or SSRN</condition>
                <condition>Author's post-print on author's personal website, non-commercial institutional repository, non-commercial subject repository, non-commercial open access repository, pre-print server, arXiv or PubMed Central.</condition>
                <condition>Publisher's version/PDF may be used on author's personal website,</condition>
                <condition>Publisher's version/PDF may be used on author's personal website or non-commercial institutional repository only</condition>
                <condition>Published version may only be shared with the statement: &quot;All rights reserved.&quot;</condition>
                <condition>Only one book chapter or journal article may be shared.</condition>
                <condition>Must link to publisher version with DOI and set statement</condition>
                <condition>Publisher copyright and source must be acknowledged with citation</condition>
                <condition>Exceptions to policy are possible to comply with funder's individual requirements, please contact publisher directly</condition>
                <condition>Publisher last contacted on 08/03/2018</condition>
              </conditions>
              <mandates />
              <paidaccess>
                <paidaccessurl>https://www.peterlang.com/page/Repository$0020Policy/repository-policy</paidaccessurl>
                <paidaccessname>Paid Open Access</paidaccessname>
                <paidaccessnotes>A paid open access option is available for this journal.</paidaccessnotes>
              </paidaccess>
              <copyrightlinks>
                <copyrightlink>
                  <copyrightlinktext>Policy</copyrightlinktext>
                  <copyrightlinkurl>https://www.peterlang.com/page/Repository$0020Policy/repository-policy</copyrightlinkurl>
                </copyrightlink>
              </copyrightlinks>
              <romeocolour>yellow</romeocolour>
              <dateadded>2011-10-26 16:07:53</dateadded>
              <dateupdated>2018-03-13 11:29:11</dateupdated>
            </publisher>
          </publishers>
        </romeoapi>
  recorded_at: 2019-02-14 08:41:09 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: http://www.sherpa.ac.uk/romeo/api29.php?jtitle=Biogeography&qtype=contains
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml
    body:
      encoding: ISO-8859-1
      string: |
        <?xml version="1.0" encoding="ISO-8859-1" ?>
        <!DOCTYPE romeoapi SYSTEM "http://www.sherpa.ac.uk/[...]
- request:
    method: get
    uri: http://www.sherpa.ac.uk/romeo/api29.php?jtitle=Biostatistics&qtype=contains
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml
    body:
      encoding: ISO-8859-1
      string: |
        <?xml version="1.0" encoding="ISO-8859-1" ?>
        <!DOCTYPE romeoapi SYSTEM "http://www.sherpa.ac.uk[...]
[...]
- request:
    method: get
    uri: http://www.sherpa.ac.uk/romeo/api29.php?jtitle=Annals%20of%20biometrics%20%26%20biostatistics&qtype=exact
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml
    body:
      encoding: ISO-8859-1
      string: |
        <?xml version="1.0" encoding="ISO-8859-1" ?>
        <!DOCTYPE romeoapi S[...]
[...]
- request:
    method: get
    uri: http://www.sherpa.ac.uk/romeo/api29.php?jtitle=Biometrics%20%26%20biostatistics%20international%20journal&qtype=exact
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml
    body:
      encoding: ISO-8859-1
      string: |
        <?xml version="1.0" encoding="ISO-8859-1" ?>
        <!DOCTYP[...]
[...]
- request:
    method: get
    uri: http://www.sherpa.ac.uk/romeo/api29.php?jtitle=Edorium%20Journal%20of%20Biostatistics&qtype=exact
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml
    body:
      encoding: ISO-8859-1
      string: |
        <?xml version="1.0" encoding="ISO-8859-1" ?>
        <!DOCTYPE romeoapi SYSTEM "h[...]
- request:
    method: get
    uri: http://www.sherpa.ac.uk/romeo/api29.php?jtitle=Enliven%3A%20Biostatistics%20and%20Metrics&qtype=exact
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml
    body:
      encoding: ISO-8859-1
      string: |
        <?xml version="1.0" encoding="ISO-8859-1" ?>
        <!DOCTYPE romeoapi SYSTE[...]
[...]
- request:
    method: get
    uri: http://www.sherpa.ac.uk/romeo/api29.php?jtitle=International%20journal%20of%20clinical%20biostatistics%20and%20biometrics&qtype=exact
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml
    body:
      encoding: ISO-8859-1
      string: |
        <?xml version="1.0" encoding="ISO-8859-1" ?>
[...]
[...]
