http_interactions:
- request:
    method: get
    uri: http://www.sherpa.ac.uk/romeo/api29.php?jtitle=Journal&qtype=contains&ak=<<rromeo_key>>
    body:
      encoding: ''
      string: no
    headers:
  response:
    status:
      status_code: 504
      category: Server error
      reason: Gateway Timeout
      message: 'Server error: (504) Gateway Timeout'
    headers:
      content-type: text/html
    body:
      encoding: UTF-8
      file: no
      string: "<html>\r\n<head><title>504 Gateway Time-out</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>504 Gateway Time-out</h1></center>\r\n</body>\r\n</html>\r\n"
  recorded_at: 2019-12-09 13:58:31 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
