http_interactions:
- request:
    method: get
    uri: http://www.sherpa.ac.uk/romeo/api29.php?jtitle=real-Time&qtype=contains&ak=<<<api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml
    body:
      encoding: UTF-8
      file: no
      string: |
        <?xml version="1.0" encoding="ISO-8859-1" ?>
        <!DOCTYPE romeoapi SYSTEM "http://www.sherpa.ac.uk/romeo/romeoapi293.dtd">
        <romeoapi version="2.9.9">
          <header>
            <parameters>
              <parameter source="specified">
                <parametername>jtitle</parametername>
                <parametervalue>real-Time</parametervalue>
              </parameter>
              <parameter source="specified">
                <parametername>qtype</parametername>
                <parametervalue>contains</parametervalue>
              </parameter>
              <parameter source="default">
                <parametername>showfunder</parametername>
                <parametervalue>none</parametervalue>
              </parameter>
              <parameter source="default">
                <parametername>fIDnum</parametername>
                <parametervalue>|</parametervalue>
              </parameter>
              <parameter source="default">
                <parametername>la</parametername>
                <parametervalue>en</parametervalue>
              </parameter>
            </parameters>
            <numhits>6</numhits>
            <apicontrol>journal</apicontrol>
            <outcome>manyJournals</outcome>
            <message />
            <licence>SHERPA/RoMEO data is available for re-use under a Creative Commons Attribution-Non-Commercial-Share Alike 2.5 licence. For more details, please see the 'conditions for re-use' at the &lt;licenceurl /&gt;, and linked-to from the SHERPA/RoMEO home page.</licence>
            <licenceurl>http://www.sherpa.ac.uk/romeoreuse.html</licenceurl>
            <disclaimer>All SHERPA/RoMEO information is correct to the best of our knowledge but should not be relied upon for legal advice. SHERPA cannot be held responsible for the re-use of RoMEO data, or for alternative interpretations which are derived from this information.</disclaimer>
            <timestamp>05-Mar-2020:16:22:05</timestamp>
          </header>
          <journals>
            <journal>
              <jtitle>IEEE NPSS Real Time Conference : conference record. Conference on Real-Time Computer Applications in Nuclear, Particle, and Plasma Physics</jtitle>
              <issn />
              <zetocpub />
              <romeopub />
            </journal>
            <journal>
              <jtitle>International Journal of Embedded and Real-Time Communication Systems</jtitle>
              <issn>1947-3176</issn>
              <zetocpub>IGI Global</zetocpub>
              <romeopub>IGI Global</romeopub>
            </journal>
            <journal>
              <jtitle>Journal of Real-Time Image Processing</jtitle>
              <issn>1861-8200</issn>
              <zetocpub>Springer Verlag (Germany) / Speinger Sceince    Business Media</zetocpub>
              <romeopub>Springer Verlag (Germany)</romeopub>
            </journal>
            <journal>
              <jtitle>Real Time Imaging</jtitle>
              <issn>1077-2014</issn>
              <zetocpub>Elsevier Science B.V., Amsterdam</zetocpub>
              <romeopub>Elsevier</romeopub>
            </journal>
            <journal>
              <jtitle>Real Time Magazine</jtitle>
              <issn>1018-0303</issn>
              <zetocpub />
              <romeopub />
            </journal>
            <journal>
              <jtitle>Real-Time Systems</jtitle>
              <issn>0922-6443</issn>
              <zetocpub>Springer Verlag (Germany) / Springer Science   Business Media</zetocpub>
              <romeopub>Springer Verlag (Germany)</romeopub>
            </journal>
          </journals>
          <publishers />
        </romeoapi>
  recorded_at: 2020-03-05 16:22:11 GMT
  recorded_with: vcr/0.5.0, webmockr/0.6.0
- request:
    method: get
    uri: http://www.sherpa.ac.uk/romeo/api29.php?jtitle=IEEE%20NPSS%20Real%20Time%20Conference%20%3A%20conference%20record.%20Conference%20on%20Real-Time%20Computer%20Applications%20in%20Nuclear%2C%20Particle%2C%20and%20Plasma%20Physics&qtype=exact&ak=<<<api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      conten[...]
- request:
    method: get
    uri: http://www.sherpa.ac.uk/romeo/api29.php?issn=1947-3176&ak=<<<api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml
    body:
      encoding: UTF-8
      file: no
      string: |
        <?xml version="1.0" encoding="ISO-8859-1" ?>
        <!DOCTYPE romeoapi SYSTEM "http://www.sherpa[...]
[...]
