http_interactions:
- request:
    method: get
    uri: http://www.sherpa.ac.uk/romeo/api29.php?jtitle=Biogeography&qtype=contains&ak=DDKJFnXZpio
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml
    body:
      encoding: ISO-8859-1
      string: |
        <?xml version="1.0" encoding="ISO-8859-1" ?>
        <!DOCTYPE romeoapi SYSTEM "http://www.sherpa.ac.uk/romeo/romeoapi293.dtd">
        <romeoapi version="2.9.9">
          <header>
            <parameters>
              <parameter source="specified">
                <parametername>jtitle</parametername>
                <parametervalue>Biogeography</parametervalue>
              </parameter>
              <parameter source="specified">
                <parametername>qtype</parametername>
                <parametervalue>contains</parametervalue>
              </parameter>
              <parameter source="default">
                <parametername>showfunder</parametername>
                <parametervalue>none</parametervalue>
              </parameter>
              <parameter source="default">
                <parametername>fIDnum</parametername>
                <parametervalue>|</parametervalue>
              </parameter>
              <parameter source="default">
                <parametername>la</parametername>
                <parametervalue>en</parametervalue>
              </parameter>
            </parameters>
            <numhits>5</numhits>
            <apicontrol>journal</apicontrol>
            <outcome>manyJournals</outcome>
            <message />
            <licence>SHERPA/RoMEO data is available for re-use under a Creative Commons Attribution-Non-Commercial-Share Alike 2.5 licence. For more details, please see the 'conditions for re-use' at the &lt;licenceurl /&gt;, and linked-to from the SHERPA/RoMEO home page.</licence>
            <licenceurl>http://www.sherpa.ac.uk/romeoreuse.html</licenceurl>
            <disclaimer>All SHERPA/RoMEO information is correct to the best of our knowledge but should not be relied upon for legal advice. SHERPA cannot be held responsible for the re-use of RoMEO data, or for alternative interpretations which are derived from this information.</disclaimer>
            <timestamp>12-Feb-2019:12:23:03</timestamp>
          </header>
          <journals>
            <journal>
              <jtitle>Biogeography</jtitle>
              <issn>1345-0662</issn>
              <zetocpub>Biogeographical Society of Japan</zetocpub>
              <romeopub>Biogeographical Society of Japan</romeopub>
            </journal>
            <journal>
              <jtitle>Frontiers of Biogeography</jtitle>
              <issn>1948-6596</issn>
              <zetocpub>International Biogeography Society</zetocpub>
              <romeopub>International Biogeography Society</romeopub>
            </journal>
            <journal>
              <jtitle>Global Ecology and Biogeography</jtitle>
              <issn>1466-822X</issn>
              <zetocpub>Wiley: 12 months / Blackwell Publishing Ltd</zetocpub>
              <romeopub>Wiley: 12 months</romeopub>
            </journal>
            <journal>
              <jtitle>Global Ecology and Biogeography Letters</jtitle>
              <issn>0960-7447</issn>
              <zetocpub />
              <romeopub />
            </journal>
            <journal>
              <jtitle>Journal of Biogeography</jtitle>
              <issn>0305-0270</issn>
              <zetocpub>Wiley: 12 months / Blackwell Publishing Ltd</zetocpub>
              <romeopub>Wiley: 12 months</romeopub>
            </journal>
          </journals>
          <publishers />
        </romeoapi>
  recorded_at: 2019-02-15 21:35:56 GMT
  recorded_with: vcr/0.2.6.9100, webmockr/0.3.4.9100
[...]
- request:
    method: get
    uri: http://www.sherpa.ac.uk/romeo/api29.php?issn=1345-0662&ak=DDKJFnXZpio
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml
    body:
      encoding: ISO-8859-1
      string: |
        <?xml version="1.0" encoding="ISO-8859-1" ?>
        <!DOCTYPE romeoapi SYSTEM "http://www.sherpa.ac.uk/romeo[...]
[...]
- request:
    method: get
    uri: http://www.sherpa.ac.uk/romeo/api29.php?issn=1466-822X&ak=DDKJFnXZpio
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml
    body:
      encoding: ISO-8859-1
      string: |
        <?xml version="1.0" encoding="ISO-8859-1" ?>
        <!DOCTYPE romeoapi SYSTEM "http://www.sherpa.ac.uk/romeo[...]
[...]
- request:
    method: get
    uri: http://www.sherpa.ac.uk/romeo/api29.php?jtitle=Biogeography&qtype=contains
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml
    body:
      encoding: ISO-8859-1
      string: |
        <?xml version="1.0" encoding="ISO-8859-1" ?>
        <!DOCTYPE romeoapi SYSTEM "http://www.sherpa.ac.uk/[...]
[...]
- request:
    method: get
    uri: http://www.sherpa.ac.uk/romeo/api29.php?issn=1345-0662
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml
    body:
      encoding: ISO-8859-1
      string: |
        <?xml version="1.0" encoding="ISO-8859-1" ?>
        <!DOCTYPE romeoapi SYSTEM "http://www.sherpa.ac.uk/romeo/romeoapi293.dt[...]
[...]
- request:
    method: get
    uri: http://www.sherpa.ac.uk/romeo/api29.php?issn=1466-822X
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml
    body:
      encoding: ISO-8859-1
      string: |
        <?xml version="1.0" encoding="ISO-8859-1" ?>
        <!DOCTYPE romeoapi SYSTEM "http://www.sherpa.ac.uk/romeo/romeoapi293.dt[...]
[...]
