http_interactions:
- request:
    method: get
    uri: http://www.sherpa.ac.uk/romeo/api29.php?jtitle=Journal%20of%20Biogeography&qtype=exact&ak=<<rromeo_key>>
    body:
      encoding: ''
      string: no
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml
    body:
      encoding: UTF-8
      file: no
      string: |
        <?xml version="1.0" encoding="ISO-8859-1" ?>
        <!DOCTYPE romeoapi SYSTEM "http://www.sherpa.ac.uk/romeo/romeoapi293.dtd">
        <romeoapi version="2.9.9">
          <header>
            <parameters>
              <parameter source="specified">
                <parametername>jtitle</parametername>
                <parametervalue>Journal of Biogeography</parametervalue>
              </parameter>
              <parameter source="specified">
                <parametername>qtype</parametername>
                <parametervalue>exact</parametervalue>
              </parameter>
              <parameter source="default">
                <parametername>showfunder</parametername>
                <parametervalue>none</parametervalue>
              </parameter>
              <parameter source="default">
                <parametername>fIDnum</parametername>
                <parametervalue>|</parametervalue>
              </parameter>
              <parameter source="default">
                <parametername>la</parametername>
                <parametervalue>en</parametervalue>
              </parameter>
            </parameters>
            <numhits>1</numhits>
            <apicontrol>journal</apicontrol>
            <outcome>singleJournal</outcome>
            <message />
            <licence>SHERPA/RoMEO data is available for re-use under a Creative Commons Attribution-Non-Commercial-Share Alike 2.5 licence. For more details, please see the 'conditions for re-use' at the &lt;licenceurl /&gt;, and linked-to from the SHERPA/RoMEO home page.</licence>
            <licenceurl>http://www.sherpa.ac.uk/romeoreuse.html</licenceurl>
            <disclaimer>All SHERPA/RoMEO information is correct to the best of our knowledge but should not be relied upon for legal advice. SHERPA cannot be held responsible for the re-use of RoMEO data, or for alternative interpretations which are derived from this information.</disclaimer>
            <timestamp>09-Dec-2019:13:48:08</timestamp>
          </header>
          <journals>
            <journal>
              <jtitle>Journal of Biogeography</jtitle>
              <issn>0305-0270</issn>
              <zetocpub>Wiley: 12 months</zetocpub>
              <romeopub>Wiley: 12 months</romeopub>
            </journal>
          </journals>
          <publishers>
            <publisher id="2050"  parentid="580">
              <name>Wiley</name>
              <alias>12 months</alias>
              <homeurl>http://eu.wiley.com/WileyCDA/</homeurl>
              <preprints>
                <prearchiving>can</prearchiving>
                <prerestrictions />
              </preprints>
              <postprints>
                <postarchiving>restricted</postarchiving>
                <postrestrictions>
                  <postrestriction>&lt;num&gt;12&lt;/num&gt; &lt;period units=&quot;month&quot;&gt;months&lt;/period&gt; embargo</postrestriction>
                </postrestrictions>
              </postprints>
              <pdfversion>
                <pdfarchiving>cannot</pdfarchiving>
                <pdfrestrictions />
              </pdfversion>
              <conditions>
                <condition>Some journals have separate policies, please check with each journal directly</condition>
                <condition>On author's personal website, institutional repositories, arXiv, AgEcon, PhilPapers, PubMed Central, RePEc or Social Science Research Network</condition>
                <condition>Author's pre-print may not be updated with Publisher's Version/PDF</condition>
                <condition>Author's pre-print must acknowledge acceptance for publication</condition>
                <condition>Non-Commercial</condition>
                <condition>Publisher's version/PDF cannot be used</condition>
                <condition>Publisher source must be acknowledged with citation</condition>
                <condition>Must link to publisher version with set statement (see policy)</condition>
                <condition>If OnlineOpen is available, BBSRC, EPSRC, MRC, NERC and STFC authors, may self-archive after 12 months</condition>
                <condition>Publisher last contacted on 07/08/2014</condition>
              </conditions>
              <mandates />
              <paidaccess>
                <paidaccessurl>https://authorservices.wiley.com/author-resources/Journal-Authors/licensing-open-access/open-access/onlineopen.html</paidaccessurl>
                <paidaccessname>OnlineOpen</paidaccessname>
                <paidaccessnotes>A paid open access option is available for this journal.</paidaccessnotes>
              </paidaccess>
              <copyrightlinks>
                <copyrightlink>
                  <copyrightlinktext>Self-archiving</copyrightlinktext>
                  <copyrightlinkurl>http://olabout.wiley.com/WileyCDA/Section/id-828039.html</copyrightlinkurl>
                </copyrightlink>
                <copyrightlink>
                  <copyrightlinktext>Authors Compliance Tool</copyrightlinktext>
                  <copyrightlinkurl>http://olabout.wiley.com/WileyCDA/Section/id-828038.html</copyrightlinkurl>
                </copyrightlink>
                <copyrightlink>
                  <copyrightlinktext>Funder Policies</copyrightlinktext>
                  <copyrightlinkurl>https://authorservices.wiley.com/author-resources/Journal-Authors/licensing-open-access/open-access/funder-agreements.html</copyrightlinkurl>
                </copyrightlink>
              </copyrightlinks>
              <romeocolour>yellow</romeocolour>
              <dateadded>2014-08-08 15:08:35</dateadded>
              <dateupdated>2017-11-24 10:22:27</dateupdated>
            </publisher>
          </publishers>
        </romeoapi>
  recorded_at: 2019-12-09 13:48:09 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
- request:
    method: get
    uri: http://www.sherpa.ac.uk/romeo/api29.php?jtitle=PLOS%20one&qtype=exact&ak=<<rromeo_key>>
    body:
      encoding: ''
      string: no
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml
    body:
      encoding: UTF-8
      file: no
      string: |
        <?xml version="1.0" encoding="ISO-8859-1" ?>
        <!DOCTYPE romeoapi SYSTEM "h[...]
