http_interactions:
- request:
    method: get
    uri: http://www.sherpa.ac.uk/romeo/api29.php?jtitle=Ecology&qtype=contains&ak=<<<api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml
    body:
      encoding: UTF-8
      file: no
      string: |
        <?xml version="1.0" encoding="ISO-8859-1" ?>
        <!DOCTYPE romeoapi SYSTEM "http://www.sherpa.ac.uk/romeo/romeoapi293.dtd">
        <romeoapi version="2.9.9">
          <header>
            <parameters>
              <parameter source="specified">
                <parametername>jtitle</parametername>
                <parametervalue>Ecology</parametervalue>
              </parameter>
              <parameter source="specified">
                <parametername>qtype</parametername>
                <parametervalue>contains</parametervalue>
              </parameter>
              <parameter source="default">
                <parametername>showfunder</parametername>
                <parametervalue>none</parametervalue>
              </parameter>
              <parameter source="default">
                <parametername>fIDnum</parametername>
                <parametervalue>|</parametervalue>
              </parameter>
              <parameter source="default">
                <parametername>la</parametername>
                <parametervalue>en</parametervalue>
              </parameter>
            </parameters>
            <numhits>50</numhits>
            <apicontrol>journal</apicontrol>
            <outcome>excessJournals</outcome>
            <message>More than 50 journals were found. Only the first 50 are listed here.</message>
            <licence>SHERPA/RoMEO data is available for re-use under a Creative Commons Attribution-Non-Commercial-Share Alike 2.5 licence. For more details, please see the 'conditions for re-use' at the &lt;licenceurl /&gt;, and linked-to from the SHERPA/RoMEO home page.</licence>
            <licenceurl>http://www.sherpa.ac.uk/romeoreuse.html</licenceurl>
            <disclaimer>All SHERPA/RoMEO information is correct to the best of our knowledge but should not be relied upon for legal advice. SHERPA cannot be held responsible for the re-use of RoMEO data, or for alternative interpretations which are derived from this information.</disclaimer>
            <timestamp>05-Mar-2020:16:21:36</timestamp>
          </header>
          <journals>
            <journal>
              <jtitle>Actual Gynecology And Obstetrics / Aktualni Gynekologie a Porodnictvi</jtitle>
              <issn>1803-9588</issn>
              <zetocpub>Aprofema</zetocpub>
              <romeopub>Aprofema</romeopub>
            </journal>
            <journal>
              <jtitle>Adolescent and pediatric gynecology</jtitle>
              <issn>0932-8610</issn>
              <zetocpub />
              <romeopub />
            </journal>
            <journal>
              <jtitle>Advances in Ecology</jtitle>
              <issn>2356-6647</issn>
              <zetocpub>Hindawi</zetocpub>
              <romeopub>Hindawi</romeopub>
            </journal>
            <journal>
             [...]
- request:
    method: get
    uri: http://www.sherpa.ac.uk/romeo/api29.php?issn=1803-9588&ak=<<<api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml
    body:
      encoding: UTF-8
      file: no
      string: |
        <?xml version="1.0" encoding="ISO-8859-1" ?>
        <!DOCTYPE romeoapi SYSTEM "http://www.sherpa[...]
[...]
- request:
    method: get
    uri: http://www.sherpa.ac.uk/romeo/api29.php?jtitle=Advances%20in%20Geoecology&qtype=exact&ak=<<<api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml
    body:
      encoding: UTF-8
      file: no
      string: |
        <?xml version="1.0" encoding="ISO-8859-1" ?>
        <!DOCTYPE rom[...]
[...]
- request:
    method: get
    uri: http://www.sherpa.ac.uk/romeo/api29.php?jtitle=Asian%20Case%20Reports%20in%20Obstetrics%20and%20Gynecology&qtype=exact&ak=<<<api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml
    body:
      encoding: UTF-8
      file: no
      string: |
        <?xml version="1.0" encoding="ISO[...]
[...]
- request:
    method: get
    uri: http://www.sherpa.ac.uk/romeo/api29.php?issn=1543-592X&ak=<<<api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml
    body:
      encoding: UTF-8
      file: no
      string: |
        <?xml version="1.0" encoding="ISO-8859-1" ?>
        <!DOCTYPE romeoapi SYSTEM "http://www.sherpa[...]
[...]
- request:
    method: get
    uri: http://www.sherpa.ac.uk/romeo/api29.php?jtitle=Bailliere%27s%20best%20practice%20%26%20research.%20Clinical%20obstetrics%20%26%20gynaecology&qtype=exact&ak=<<<api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml
    body:
      encoding: UTF-8
      file: no
      string: |
       [...]
[...]
- request:
    method: get
    uri: http://www.sherpa.ac.uk/romeo/api29.php?jtitle=BIOINFO%20Conservation%20Ecology&qtype=exact&ak=<<<api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml
    body:
      encoding: UTF-8
      file: no
      string: |
        <?xml version="1.0" encoding="ISO-8859-1" ?>
        <!DOCTY[...]
- request:
    method: get
    uri: http://www.sherpa.ac.uk/romeo/api29.php?jtitle=BIOINFO%20Obstetrics%20and%20Gynecology&qtype=exact&ak=<<<api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml
    body:
      encoding: UTF-8
      file: no
      string: |
        <?xml version="1.0" encoding="ISO-8859-1" ?>
        [...]
[...]
