http_interactions:
- request:
    method: get
    uri: http://www.sherpa.ac.uk/romeo/api29.php?country=IR&ak=<<rromeo_key>>
    body:
      encoding: ''
      string: no
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml
    body:
      encoding: UTF-8
      file: no
      string: |
        <?xml version="1.0" encoding="ISO-8859-1" ?>
        <!DOCTYPE romeoapi SYSTEM "http://www.sherpa.ac.uk/romeo/romeoapi293.dtd">
        <romeoapi version="2.9.9">
          <header>
            <parameters>
              <parameter source="specified">
                <parametername>country</parametername>
                <parametervalue>IR</parametervalue>
              </parameter>
              <parameter source="default">
                <parametername>showfunder</parametername>
                <parametervalue>none</parametervalue>
              </parameter>
              <parameter source="default">
                <parametername>fIDnum</parametername>
                <parametervalue>|</parametervalue>
              </parameter>
              <parameter source="default">
                <parametername>la</parametername>
                <parametervalue>en</parametervalue>
              </parameter>
            </parameters>
            <numhits>18</numhits>
            <apicontrol></apicontrol>
            <outcome>publisherFound</outcome>
            <message />
            <licence>SHERPA/RoMEO data is available for re-use under a Creative Commons Attribution-Non-Commercial-Share Alike 2.5 licence. For more details, please see the 'conditions for re-use' at the &lt;licenceurl /&gt;, and linked-to from the SHERPA/RoMEO home page.</licence>
            <licenceurl>http://www.sherpa.ac.uk/romeoreuse.html</licenceurl>
            <disclaimer>All SHERPA/RoMEO information is correct to the best of our knowledge but should not be relied upon for legal advice. SHERPA cannot be held responsible for the re-use of RoMEO data, or for alternative interpretations which are derived from this information.</disclaimer>
            <timestamp>09-Dec-2019:13:53:58</timestamp>
          </header>
          <journals />
          <publishers>
            <publisher id="1936">
              <name>Acta Advances in Agricultural Sciences</name>
              <alias />
              <homeurl>http://www.aaasjournal.com/</homeurl>
              <preprints>
                <prearchiving>cannot</prearchiving>
                <prerestrictions />
              </preprints>
              <postprints>
                <postarchiving>can</postarchiving>
                <postrestrictions />
              </postprints>
              <pdfversion>
                <pdfarchiving>can</pdfarchiving>
                <pdfrestrictions />
              </pdfversion>
              <conditions>
                <condition>On open access repositories</condition>
                <condition>Publisher's version/PDF may be used</condition>
                <condition>Creative Commons Attribution Non-Commercial License</condition>
                <condition>Published source must be acknowledged</condition>
                <condition>On a non-profit server</condition>
                <condition>All titles are open access journals</condition>
                <condition>Publisher last contacted on 04/04/2014</condition>
              </conditions>
              <mandates />
              <paidaccess>
                <paidaccessurl />
                <paidaccessname />
                <paidaccessnotes />
              </paidaccess>
              <copyrightlinks>
                <copyrightlink>
                  <copyrightlinktext>Policy</copyrightlinktext>
                  <copyrightlinkurl>http://www.aaasjournal.com/index.php/instructions-authors</copyrightlinkurl>
                </copyrightlink>
              </copyrightlinks>
              <romeocolour>blue</romeocolour>
              <dateadded>2014-05-22 10:09:21</dateadded>
              <dateupdated>2014-05-22 10:23:46</dateupdated>
            </publisher>
            <publisher id="2786">
              <name>Avicenna Journals</name>
              <alias>Advancements in Science</alias>
              <homeurl>http://ajournals.com/index.php</homeurl>
              <preprints>
                <prearchiving>can</prearchiving>
                <prerestrictions />
              </preprints>
              <postprints>
                <postarchiving>can</postarchiving>
                <postrestrict[...]
