http_interactions:
- request:
    method: get
    uri: http://www.sherpa.ac.uk/romeo/api29.php?pub=Swiss%20Chemistry&qtype=exact&ak=<<<api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml
    body:
      encoding: UTF-8
      file: no
      string: |
        <?xml version="1.0" encoding="ISO-8859-1" ?>
        <!DOCTYPE romeoapi SYSTEM "http://www.sherpa.ac.uk/romeo/romeoapi293.dtd">
        <romeoapi version="2.9.9">
          <header>
            <parameters>
              <parameter source="specified">
                <parametername>pub</parametername>
                <parametervalue>Swiss Chemistry</parametervalue>
              </parameter>
              <parameter source="specified">
                <parametername>qtype</parametername>
                <parametervalue>exact</parametervalue>
              </parameter>
              <parameter source="default">
                <parametername>showfunder</parametername>
                <parametervalue>none</parametervalue>
              </parameter>
              <parameter source="default">
                <parametername>fIDnum</parametername>
                <parametervalue>|</parametervalue>
              </parameter>
              <parameter source="default">
                <parametername>la</parametername>
                <parametervalue>en</parametervalue>
              </parameter>
            </parameters>
            <numhits>1</numhits>
            <apicontrol>publisher</apicontrol>
            <outcome>publisherFound</outcome>
            <message />
            <licence>SHERPA/RoMEO data is available for re-use under a Creative Commons Attribution-Non-Commercial-Share Alike 2.5 licence. For more details, please see the 'conditions for re-use' at the &lt;licenceurl /&gt;, and linked-to from the SHERPA/RoMEO home page.</licence>
            <licenceurl>http://www.sherpa.ac.uk/romeoreuse.html</licenceurl>
            <disclaimer>All SHERPA/RoMEO information is correct to the best of our knowledge but should not be relied upon for legal advice. SHERPA cannot be held responsible for the re-use of RoMEO data, or for alternative interpretations which are derived from this information.</disclaimer>
            <timestamp>05-Mar-2020:15:03:37</timestamp>
          </header>
          <journals />
          <publishers>
            <publisher id="411">
              <name>Schweizerische Chemische Gesellschaft</name>
              <alias>Swiss Chemistry Society</alias>
              <homeurl>http://www.swiss-chem-soc.ch/</homeurl>
              <preprints>
                <prearchiving>unclear</prearchiving>
                <prerestrictions />
              </preprints>
              <postprints>
                <postarchiving>cannot</postarchiving>
                <postrestrictions />
              </postprints>
              <pdfversion>
                <pdfarchiving>restricted</pdfarchiving>
                <pdfrestrictions>
                  <pdfrestriction>&lt;num&gt;12&lt;/num&gt; &lt;period units=&quot;month&quot;&gt;months&lt;/period&gt; embargo</pdfrestriction>
                </pdfrestrictions>
              </pdfversion>
              <conditions>
                <condition>On authors personal website and/or in a non-profit and non-commercial institutional repository or funding body repository</condition>
                <condition>Publisher copyright and source must be acknowledged with citation</condition>
                <condition>Must link to journal homepage</condition>
                <condition>Publisher's version/PDF must be used (free to members of the society)</condition>
                <condition>Must link to publisher version with DOI</condition>
                <condition>Publisher last contacted on 01/03/2017</condition>
              </conditions>
              <mandates />
              <paidaccess>
                <paidaccessurl>https://chimia.ch/index.php?option=com_content&amp;view=category&amp;layout=blog&amp;id=431&amp;Itemid=674&amp;lang=en</paidaccessurl>
                <paidaccessname>Open Access</paidaccessname>
                <paidaccessnotes />
              </paidaccess>
              <copyrightlinks>
                <copyrightlink>
                  <copyrightlinktext>Policy</copyrightlinktext>
                  <copyrightlinkurl>https://chimia.ch/index.php?option=com_content&amp;view=category&amp;layout=blog&amp;id=431&amp;Itemid=674&amp;lang=en</copyrightlinkurl>
                </copyrightlink>
              </copyrightlinks>
              <romeocolour>white</romeocolour>
              <dateadded>2008-03-04 00:00:00</dateadded>
              <dateupdated>2011-08-12 11:23:35</dateupdated>
            </publisher>
          </publishers>
        </romeoapi>
  recorded_at: 2020-03-05 15:03:37 GMT
  recorded_with: vcr/0.5.0, webmockr/0.6.0
