http_interactions:
- request:
    method: get
    uri: http://www.sherpa.ac.uk/romeo/api29.php?colour=green
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      Content-Type: text/xml
    body:
      encoding: ISO-8859-1
      string: |
        <?xml version="1.0" encoding="ISO-8859-1" ?>
        <!DOCTYPE romeoapi SYSTEM "http://www.sherpa.ac.uk/romeo/romeoapi293.dtd">
        <romeoapi version="2.9.9">
          <header>
            <parameters>
              <parameter source="specified">
                <parametername>colour</parametername>
                <parametervalue>green</parametervalue>
              </parameter>
              <parameter source="default">
                <parametername>showfunder</parametername>
                <parametervalue>none</parametervalue>
              </parameter>
              <parameter source="default">
                <parametername>fIDnum</parametername>
                <parametervalue>|</parametervalue>
              </parameter>
              <parameter source="default">
                <parametername>la</parametername>
                <parametervalue>en</parametervalue>
              </parameter>
            </parameters>
            <numhits>1317</numhits>
            <apicontrol>colour</apicontrol>
            <outcome>publisherFound</outcome>
            <message />
            <licence>SHERPA/RoMEO data is available for re-use under a Creative Commons Attribution-Non-Commercial-Share Alike 2.5 licence. For more details, please see the 'conditions for re-use' at the &lt;licenceurl /&gt;, and linked-to from the SHERPA/RoMEO home page.</licence>
            <licenceurl>http://www.sherpa.ac.uk/romeoreuse.html</licenceurl>
            <disclaimer>All SHERPA/RoMEO information is correct to the best of our knowledge but should not be relied upon for legal advice. SHERPA cannot be held responsible for the re-use of RoMEO data, or for alternative interpretations which are derived from this information.</disclaimer>
            <timestamp>14-Jan-2019:16:33:13</timestamp>
          </header>
          <journals />
          <publishers>
            <publisher id="3031">
              <name>&amp;#1040;&amp;#1041;&amp;#1042;-&amp;#1087;&amp;#1088;&amp;#1077;&amp;#1089;&amp;#1089;</name>
              <alias>ABV-press</alias>
              <homeurl>http://abvpress.ru/</homeurl>
              <preprints>
                <prearchiving>can</prearchiving>
                <prerestrictions />
              </preprints>
              <postprints>
                <postarchiving>can</postarchiving>
                <postrestrictions />
              </postprints>
              <pdfversion>
                <pdfarchiving>can</pdfarchiving>
                <pdfrestrictions />
              </pdfversion>
              <conditions>
                <condition>On author's personal website and institutional repository</condition>
                <condition>Creative Commons Attribution License 3.0</condition>
                <condition>Publisher's version/PDF may be used</condition>
                <condition>Authors retain copyright</condition>
              </conditions>
              <mandates />
              <paidaccess>
                <paidaccessurl />
                <paidaccessname />
                <paidaccessnotes />
              </paidaccess>
              <copyrightlinks>
                <copyrightlink>
                  <copyrightlinktext>Policy</copyrightlinktext>
                  <copyrightlinkurl>http://agx.abvpress.ru/jour/about/submissions#copyrightNotice</copyrightlinkurl>
                </copyrightlink>
              </copyrightlinks>
              <romeocolour>green</romeocolour>
              <dateadded>2017-06-16 11:47:44</dateadded>
              <dateupdated>2017-06-16 11:47:44</dateupdated>
            </publisher>
            <publisher id="2425">
              <name>&amp;#268;esk? vysok? u&amp;#269;en? technick? v Praze</name>
              <alias>Czech Technical University in Prague</alias>
              <homeurl>http://intranet.cvut.cz/</homeurl>
              <preprints>
                <prearchiving>can</prearchiving>
                <prerestrictions />
              </preprints>
              <postprints>
                <postarchiving>can</[...]
