http_interactions:
- request:
    method: get
    uri: http://www.sherpa.ac.uk/romeo/api29.php?colour=yellow&ak=<<<api_key>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml
    body:
      encoding: UTF-8
      file: no
      string: |
        <?xml version="1.0" encoding="ISO-8859-1" ?>
        <!DOCTYPE romeoapi SYSTEM "http://www.sherpa.ac.uk/romeo/romeoapi293.dtd">
        <romeoapi version="2.9.9">
          <header>
            <parameters>
              <parameter source="specified">
                <parametername>colour</parametername>
                <parametervalue>yellow</parametervalue>
              </parameter>
              <parameter source="default">
                <parametername>showfunder</parametername>
                <parametervalue>none</parametervalue>
              </parameter>
              <parameter source="default">
                <parametername>fIDnum</parametername>
                <parametervalue>|</parametervalue>
              </parameter>
              <parameter source="default">
                <parametername>la</parametername>
                <parametervalue>en</parametervalue>
              </parameter>
            </parameters>
            <numhits>241</numhits>
            <apicontrol>colour</apicontrol>
            <outcome>publisherFound</outcome>
            <message />
            <licence>SHERPA/RoMEO data is available for re-use under a Creative Commons Attribution-Non-Commercial-Share Alike 2.5 licence. For more details, please see the 'conditions for re-use' at the &lt;licenceurl /&gt;, and linked-to from the SHERPA/RoMEO home page.</licence>
            <licenceurl>http://www.sherpa.ac.uk/romeoreuse.html</licenceurl>
            <disclaimer>All SHERPA/RoMEO information is correct to the best of our knowledge but should not be relied upon for legal advice. SHERPA cannot be held responsible for the re-use of RoMEO data, or for alternative interpretations which are derived from this information.</disclaimer>
            <timestamp>05-Mar-2020:16:08:52</timestamp>
          </header>
          <journals />
          <publishers>
            <publisher id="2010"  parentid="1000">
              <name>Philosophy Documentation Center</name>
              <alias>Res Philosophica</alias>
              <homeurl>http://www.pdcnet.org/</homeurl>
              <preprints>
                <prearchiving>can</prearchiving>
                <prerestrictions />
              </preprints>
              <postprints>
                <postarchiving>restricted</postarchiving>
                <postrestrictions>
                  <postrestriction>&lt;num&gt;12&lt;/num&gt; &lt;period units=&quot;month&quot;&gt;months&lt;/period&gt; embargo</postrestriction>
                </postrestrictions>
              </postprints>
              <pdfversion>
                <pdfarchiving>cannot</pdfarchiving>
                <pdfrestrictions />
              </pdfversion>
              <conditions>
                <condition>On author's personal website</condition>
                <condition>Publisher's version/PDF cannot be used</condition>
                <condition>Publisher last contacted on 23/07/2014</condition>
                <condition>This policy is an exception to the default policies of ''</condition>
              </conditions>
              <mandates />
              <paidaccess>
                <paidaccessurl />
                <paidaccessname />
                <paidaccessnotes />
              </paidaccess>
              <copyrightlinks>
                <copyrightlink>
                  <copyrightlinktext>Policy</copyrightlinktext>
                  <copyrightlinkurl>http://www.resphilosophica.org/policies/copyright/</copyrightlinkurl>
                </copyrightlink>
              </copyrightlinks>
              <romeocolour>yellow</romeocolour>
              <dateadded>2014-07-23 16:24:53</dateadded>
              <dateupdated>2014-07-23 16:24:53</dateupdated>
            </publisher>
            <publisher id="2750"  parentid="1067">
              <name>Presses de l'Ifpo</name>
              <alias>Syria</alias>
              <homeurl>http://www.ifporient.org/node/64</homeurl>
              <preprints>
                <prearchiving>can</prearchiving>
                <prerestrictions />
              </preprints>
              <postprints>
                <postarchiving>restricted</postarchiving>
                <postrestrictions>
                  <postrestriction>&lt;num&gt;3&lt;/num&gt; &lt;period units=&quot;year&quot;&gt;years&lt;/period&gt; embargo</postrestriction>
                </postrestrictions>
              </postprints>
              <pdfversion>
                <pdfarchiving>restricted</pdfarchiving>
                <pdfrestrictions>
                  <pdfrestriction>&lt;num&gt;3&lt;/num&gt; &lt;period units=&quot;year&quot;&gt;years&lt;/period&gt; embargo</pdfrestriction>
                </pdfrestrictions>
              </pdfversion>
              <conditions>
                <condition>On institutional repository, national repository</condition>
                <condition>Publisher copyright and source must be acknowledged</condition>
                <condition>Must link to publisher version</condition>
                <condition>Publisher's version/PDF ma[...]
